/* footer {
  flex: 0 0 auto;
  color: #fff4e3;
  background-color: #ffa45c;
}
.icon {
  color: #fff4e3;
  margin-left: 20px;
}

.icon:hover {
  color: tomato;
} */

body {
  background-image: url('./images/portfolio\ image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__copyright  { 
  position: relative; 
  bottom: -90px;  
}
.footer__socials{
  position: relative; 
  bottom: -130px;  
}
img.weather {

  height:300px;
  width: 500px;
  margin-left: 30%;
}
h2{
  margin-left: 35%;
}
img.ecommerce {
  height:300px;
  width: 500px;
  margin-left: 30%;
}
img.fitcal{
  height:300px;
  width: 500px;
  margin-left: 30%;
}
