/* footer {
  flex: 0 0 auto;
  color: #fff4e3;
  background-color: #ffa45c;
}
.icon {
  color: #fff4e3;
  margin-left: 20px;
}

.icon:hover {
  color: tomato;
} */
body {
  background-image: url('./images/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

